a:link, a:visited {

    color: black;
    border-radius: 20px;
    background-color: transparent;

}

a:hover, a:active {
    background-color: #0067ac;
    /* color: rgb(255, 255, 255) !important; */
}

.aboutContainer {
    text-align: center;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0);
    padding: 50px;
    margin: 0px 15px 100px 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    min-height: 700px;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 1.5rem;
    font-size: 1.2em;
}

.aboutContact .contactLinks {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 3%;
    top: 35%;
}

.aboutTextTitle {
    font-size: 1.5em;
    text-shadow: 0px 0px 5px rgb(11 9 9 / 95%);
    color: rgb(255, 255, 255);
}

.container-fluid {
    text-align: center;
    background-image: url("../src/img/bg-image.svg");
    background-attachment: fixed;
    background-size: cover;
    padding: 0px !important;
}

.skillContainer {
    position: relative;
    padding: 50px;
    padding-bottom: 75px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    margin: 0px 15px 100px 15px;
}

/* .skillBg {
    position: absolute;
    left: -50px;
    right: -50px;
    top: 0;
    bottom: 0;
    transform: rotate(1.5deg);
    z-index: 0;
} */

.card svg {
    width: 50px;
    height: 50px;
    margin: 30px auto;
}

/* .bg-nBlue {
  background-color: rgba(24, 44, 57, .85);
  -webkit-box-shadow: 0 2px 4px rgb(24 44 57);
  box-shadow: 0 2px 4px rgb(24 44 57);
} */

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
    padding: .3rem !important;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;

}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;

}

.navbar-links li:hover {
    /* background-color: #555 */
}

.toggle-button {
    position: absolute;
    top: 1.3rem;
    right: 1.3rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}







/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */



@media (max-width: 1290px) {

    .projectCard {
        flex: 40% !important;
        margin-bottom: 3% !important;
    }

}


@media only screen and (max-width: 575px) {
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    /* add dot between two classes means 2 different class name */
    .navbar-links.active {
        display: flex;
    }
    .aboutContact {
        display: none;
    }

    .home-logo {
        margin-bottom: .5rem;
    }

    .projectCard {
        flex: 90% !important;
        margin: 5% !important;
    }


}

.portfolioContainer {
    margin: 0px 15px 100px 15px;
    padding: 3%;
    background-color: #ebebeb;
    background-color: rgba(255, 255, 255, 0.322);
    backdrop-filter: blur(5px);
    border-radius: 5px;
}

.card {
    border-radius: 15px !important;
    margin: 20px;
    background-color: #ebebeb;
    background-color: rgba(255, 255, 255, 0.8) !important;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(2px);
}

.projectImage {
    border-radius: 8px;
    margin: auto;
    width: 150px;
}

.contactLinks a {
    padding: 0;
    margin-top: 30px;
    background-color: transparent;
    margin-left: 40px;
}

.portfolioContainer h2, .skillContainer h2, .contactContainer h2 {
    font-size: 2.5em;
}

.contactContainer p {
    font-size: 1.5em;
}

.contactContainer {
    padding-bottom: 50px;
}

.projectCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ebebeb;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin: 1%;
    flex: 20%;
    border-radius: 15px;
}

.projectText {
    justify-content: flex-end;
}

.projectText a {
    font-size: smaller;
    margin: 5px;
    border-radius: 20px;
}

.portfolioCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.imageContainer {
    height: 150px;
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hireMeButton {
    background-color: #20c997 !important;
}

.copy-right p{
    margin: 0;
    padding-bottom: 3px;
}

