a:link, a:visited {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
  }
  
  a:hover, a:active {
    background-color: #007BFF;
    color: white;
  }